@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'DM Sans';
    src: url("/DM_Sans/DMSans-VariableFont_opsz,wght.ttf");
}

@font-face {
    font-family: 'Montserrat';
    src: url("/Montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'Open Sans';
    src: url("/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
}
